<td>
                <div class="btn-group dropdown">
                        <!--<button class="btn"></button>-->
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                                
         <li><%= link_to content_tag(:i, "", :class => "icon-eye-open") + "   " + t('.edit', :default => t("helpers.links.edit")), edit_staff_path(staff) %></li>
                                <li><%= link_to content_tag(:i, "", :class => "icon-edit") + "   View", staff %></li>
                                <li class="divider"></li>
                                <li class="danger"><%= link_to link_to content_tag(:i, "", :class => "icon-trash") + "   " + t('.destroy', :default => t("helpers.links.destroy")),
                    staff,
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }%> </li>
                        </ul>
                </div>
</td>
