<h1>Editing staff</h1>

<div class="tubbable tabs-right">
	<ul class="nav nav-tabs">
	<li><a href="#" data-toggle="tab">About</a></li>
	<li><a href="#" data-toggle="tab">Contact</a></li>
	<li><a href="#" data-toggle="tab">Employment</a></li>
	<li><a href="#" data-toggle="tab">Leave</a></li>
	<li><a href="#" data-toggle="tab">Relationship</a></li>
	<li><a href="#" data-toggle="tab">Qualification</a></li>
	<li><a href="#" data-toggle="tab">Finance</a></li>
	<ul>
</div>

<%= render 'form' %>

<%= link_to 'Show', @staff %> |
<%= link_to 'Back', staffs_path %>
