<% provide(:title, 'Contact Media Type') %>
<%- model_class = ContactMediumType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<%= render 'form' %>

