<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @contact_medium_type.description %>
</p>

<%= link_to 'Edit', edit_contact_medium_type_path(@contact_medium_type) %> |
<%= link_to 'Back', contact_medium_types_path %>
