%header.index-header
  %h1
    Users
    %span List of Users
    
- @users.each do |user|
  %tr
    %td= user.email
    %td= link_to 'Show', user
    %td= link_to 'Edit', edit_user_path(user)
    %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }



