@import "twitter/bootstrap";
/*@import "bootstrap";*/

/* mixins, variables, etc. */


$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  /*overflow-y: scroll;*/
}


body {
  padding-top: 51px;
  background-color: #fff;
}

section {
  /*overflow: auto;*/
}

textarea {
  resize: vertical;
}





.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

a {
	text-decoration: none;
	color: #575757;
	outline: none;	
}

a:hover, a:focus {
	color: #5757FF;
	outline: none;
	text-decoration: none;
}

.navbar-fixed-top, .mp-menu {
  a {text-decoration: none; color: #F7F7F7; outline: none;}
  a:hover, a:focus {color: #fff; outline: none; }
}

.navbar-fixed-top {z-index:9999;}



/*
.index-table {
	a { 
	text-decoration: none;
	color: #4A6AA7;
	outline: none;
    }
	
	a:hover, a:focus {
		color: #fff;
		outline: none;
	}
}
*/


/* header */
.index-header  {
	margin: 0 auto;
	padding: 2em;
	background: rgba(0,0,0,0.01);
	text-align: center;
	h1 {margin: 0; font-weight: 300; font-size: 2.625em; line-height: 1.3;}
	span {display: block;	padding: 0 0 0.6em 0.1em; font-size: 60%; opacity: 0.7;}
}


.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}



/*
logo is no longer used see component.css.scss trigger
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}*/


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 80%;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {
	height: auto !important;

}
input[type=checkbox] {width:13px; height:13px; *overflow: hidden; }
.form-group {
	padding: 1em 0;
}
.btn {width: 30%; margin-bottom: 1.5em;}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}