/ mp-menu
%nav#mp-menu.mp-menu
  .mp-level
    %h2.icon.icon-world All Categories
    %ul
      %li.icon.icon-arrow-left
        %a.icon.icon-display{:href => "#"} Devices
        .mp-level
          %h2.icon.icon-display Devices
          %a.mp-back{:href => "#"} back
          %ul
            %li.icon.icon-arrow-left
              %a.icon.icon-phone{:href => "#"} Mobile Phones
              .mp-level
                %h2 Mobile Phones
                %a.mp-back{:href => "#"} back
                %ul
                  %li
                    %a{:href => "#"} Super Smart Phone
                  %li
                    %a{:href => "#"} Thin Magic Mobile
                  %li
                    %a{:href => "#"} Performance Crusher
                  %li
                    %a{:href => "#"} Futuristic Experience
            %li.icon.icon-arrow-left
              %a.icon.icon-tv{:href => "#"} Televisions
              .mp-level
                %h2 Televisions
                %a.mp-back{:href => "#"} back
                %ul
                  %li
                    %a{:href => "#"} Flat Superscreen
                  %li
                    %a{:href => "#"} Gigantic LED
                  %li
                    %a{:href => "#"} Power Eater
                  %li
                    %a{:href => "#"} 3D Experience
                  %li
                    %a{:href => "#"} Classic Comfort
            %li.icon.icon-arrow-left
              %a.icon.icon-camera{:href => "#"} Cameras
              .mp-level
                %h2 Cameras
                %a.mp-back{:href => "#"} back
                %ul
                  %li
                    %a{:href => "#"} Smart Shot
                  %li
                    %a{:href => "#"} Power Shooter
                  %li
                    %a{:href => "#"} Easy Photo Maker
                  %li
                    %a{:href => "#"} Super Pixel
      %li.icon.icon-arrow-left
        %a.icon.icon-news{:href => "#"} Magazines
        .mp-level
          %h2.icon.icon-news Magazines
          %a.mp-back{:href => "#"} back
          %ul
            %li
              %a{:href => "#"} National Geographic
            %li
              %a{:href => "#"} Scientific American
            %li
              %a{:href => "#"} The Spectator
            %li
              %a{:href => "#"} The Rambler
            %li
              %a{:href => "#"} Physics World
            %li
              %a{:href => "#"} The New Scientist
      %li.icon.icon-arrow-left
        %a.icon.icon-shop{:href => "#"} Store
        .mp-level
          %h2.icon.icon-shop Store
          %a.mp-back{:href => "#"} back
          %ul
            %li.icon.icon-arrow-left
              %a.icon.icon-t-shirt{:href => "#"} Clothes
              .mp-level
                %h2.icon.icon-t-shirt Clothes
                %a.mp-back{:href => "#"} back
                %ul
                  %li.icon.icon-arrow-left
                    %a.icon.icon-female{:href => "#"} Women's Clothing
                    .mp-level
                      %h2.icon.icon-female Women's Clothing
                      %a.mp-back{:href => "#"} back
                      %ul
                        %li
                          %a{:href => "#"} Tops
                        %li
                          %a{:href => "#"} Dresses
                        %li
                          %a{:href => "#"} Trousers
                        %li
                          %a{:href => "#"} Shoes
                        %li
                          %a{:href => "#"} Sale
                  %li.icon.icon-arrow-left
                    %a.icon.icon-male{:href => "#"} Men's Clothing
                    .mp-level
                      %h2.icon.icon-male Men's Clothing
                      %a.mp-back{:href => "#"} back
                      %ul
                        %li
                          %a{:href => "#"} Shirts
                        %li
                          %a{:href => "#"} Trousers
                        %li
                          %a{:href => "#"} Shoes
                        %li
                          %a{:href => "#"} Sale
            %li
              %a.icon.icon-diamond{:href => "#"} Jewelry
            %li
              %a.icon.icon-music{:href => "#"} Music
            %li
              %a.icon.icon-food{:href => "#"} Grocery
      %li
        %a.icon.icon-photo{:href => "#"} Collections
      %li
        %a.icon.icon-wallet{:href => "#"} Credits
/ /mp-menu